html {
  position: relative;
  min-height: 100%;
}

nav {
  background-color: rgb(19, 43, 95);
  align-content: center;
  height: 130px;
}

/* Map stuff lols */
.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: yellow;
  width: 100%;
  height: 20%;
  padding: 2%;
  font-size: large;
}

.button-SW,
.button-SE,
.button-NW,
.button-NE {
  background-color: yellow;
  border: none;
  cursor: pointer;
}

.Map {
  width: 100vw;
  height: 69vh;
  position: relative;
}

.BCITMAP {
  width: 100%;
  height: 100%;
  border: 0;
}

/* Seperate this from other stuff */

.dropdown-menu {
  background-color: rgb(198, 204, 211);
}

#notifDrop {
  width: 250px;
}

#mainDrop {
  width: 220px;
}

.divColour {
  background-color: rgb(184, 184, 196);
  border-radius: 10px;
}

#loginSignupButton {
  background-color: rgb(124, 124, 158);
}

.footer .containment {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px;
  background-color: rgb(19, 43, 95);
  display: flex;
  justify-content: space-around; /* or space-between */
  align-items: center;
  padding-bottom: 17px;
}

.figcap {
  margin-top: 0; /* remove default spacing */
  padding: 0;
  line-height: 5px; /* shrink any inherited line-height */
  color: white;
  font-size: small;
  text-align: center;
}

#loginButton,
#signupButton {
  background-color: rgb(82, 107, 163);
  color: white;
}

#toSignup,
#toLogin {
  font-size: 12pt;
}
