html {
  overflow-y: hidden;
  min-height: 100%;
}

nav {
  background-color: rgb(19, 43, 95);
  align-content: center;
  height: 11vh;
}

/* Map stuff lols */
.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: yellow;
  width: 100%;
  height: 20%;
  padding: 2%;
  font-size: large;
}

.button-SW,
.button-SE,
.button-NW,
.button-NE {
  background-color: yellow;
  border: none;
  cursor: pointer;
}
.content-SW,
.content-SE,
.content-NW,
.content-NE {
  display: none;
}

.Map {
  width: 100vw;
  height: 90vh;
  position: relative;
}

.BCITMAP {
  width: 100%;
  height: 100%;
  border: 0;
}

/* Seperate this from other stuff */

.dropdown-menu {
  background-color: rgb(198, 204, 211);
}

#notifDrop {
  width: 50vw;
  height: auto;
  font-size: 3em;
}

#mainDrop {
  width: 50vw;
  height: auto;
  font-size: 3em;
}

#logoIcon {
  width: 17vh;
}

#pfpIcon {
  width: 8vh;
}

#notifIcon {
  width: 7.5vh;
}

#dropdownPFP {
  width: 15vw;
}

.divColour {
  background-color: rgb(184, 184, 196);
  border-radius: 30px;
}

#loginSignupButton {
  background-color: rgb(124, 124, 158);
}

.footer .containment {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 11vh;
  background-color: rgb(19, 43, 95);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 17px;
  padding-top: 5px;
}

.footer figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footIcon {
  height: 7.5vh;
}

.figcap {
  margin-top: 0;
  padding: 0;
  line-height: 5px;
  color: white;
  font-size: 1.5em;
  text-align: center;
  align-items: center;
}

#loginButton,
#signupButton {
  background-color: rgb(82, 107, 163);
  color: white;
}

#toSignup,
#toLogin {
  font-size: 12pt;
}
