html {
  min-height: 100%;
  margin: 0;
}

nav {
  background-color: rgb(19, 43, 95);
  align-content: center;
  height: 11vh;
}

/* Map stuff lols */
/* The map container must be relative so the instructions position correctly */
#map-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 11vh - 8vh - 11vh);
  /* 100vh - navbar - dropdown - footer */
}

#map {
  flex: 1;
  width: 100%;
}

/* Instructions overlay that sits on top of the map */
#instructions {
  position: absolute;
  top: 50px;
  left: 20px;
  width: 25%;
  max-height: calc(100% - 40px);
  padding: 20px;
  background-color: #fff;
  overflow-y: auto;
  font-size: 20pt;
  font-family: sans-serif;
  z-index: 999;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.map-title {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 1%;
  background-color: yellow;
}

.floor-plan {
  width: 100%;
  height: auto;
  margin-bottom: 2vh;
}

.map-page .floor-selector {
  position: fixed;
  bottom: 11vh;
  left: 0;
  height: 8%;
  width: 100%;
  background-color: yellow;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  z-index: 10;
}

.map-page .floor-selector .floor-btn {
  background-color: white;
  border: none;
  height: 50%;
  width: 15%;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.map-page .floor-btn.active {
  background-color: rgb(82, 107, 163);
  color: white;
}

/*SW STYLE STUFF DON'T TOUCH PLS*/

/* Only for the SW page */
.sw-floor-selector {
  position: static;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  margin-top: 10vh;
}

.sw-floor-selector .floor-btn {
  width: 50vw;
  max-width: 300px;
  padding: 20px;
  background-color: rgb(82, 107, 163);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}

/* End SW STYLE STUFF DON'T TOUCH PLS*/

/* SE STYLE STUFF DON'T TOUCH PLS*/

.se-page .se-floor-selector {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9%;
  position: static;
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  background: none;
}

.se-page .se-floor-selector .floor-btn {
  width: 100%;
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;

  background-color: rgb(82, 107, 163);
  color: white;
  border: none;
  border-radius: 10px;

  cursor: pointer;
}

/* End SE STYLE STUFF DON'T TOUCH PLS*/

/*NW STYLE STUFF DON'T TOUCH PLS*/

.nw-page .nw-floor-selector {
  position: static;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  margin-top: 3vh;
}

.nw-page .nw-floor-selector .floor-btn {
  width: 50vw;
  max-width: 300px;
  padding: 20px;
  background-color: rgb(82, 107, 163);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}

/* End NW STYLE STUFF DON'T TOUCH PLS*/

/*NE STYLE STUFF DON'T TOUCH PLS*/

.ne-page main {
  padding-bottom: 60vh;
}

.ne-page .ne-floor-selector {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9%;
  position: static;
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  background: none;
}

.ne-page .ne-floor-selector .floor-btn {
  width: 100%;
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;

  background-color: rgb(82, 107, 163);
  color: white;
  border: none;
  border-radius: 10px;

  cursor: pointer;
}

/*NE STYLE STUFF DON'T TOUCH PLS*/

/*FLOOR PLAN STYLES DON'T TOUCH PLS*/

.floorplan-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.fp-main {
  flex: 1;
  padding-bottom: 15vh;
}

.floorplan-placeholder .map-title {
  width: 100%;
  background-color: rgb(255, 230, 109);
  margin-top: -2rem;
  text-align: center;
  display: block;
}

.map-title h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
}

.floorplan-placeholder {
  padding-bottom: 12vh;
}

.floorplan-placeholder .fp-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.floorplan-placeholder #floor-image,
.floorplan-placeholder #floor-image-2 {
  width: 90%;
  max-width: 700px;
  height: auto;
  margin-bottom: 2rem;
}

/*SEPERATE MAP FROM OTHER STUFF*/

/* Login/Signup, landing page, dropdown menus */

.dropdown-menu {
  background-color: rgb(198, 204, 211);
}

#notifDrop {
  width: 50vw;
  height: auto;
  font-size: 3em;
}

#mainDrop {
  width: 50vw;
  height: auto;
  font-size: 3em;
}

#logoIcon {
  width: 17vh;
}

#pfpIcon {
  width: 8vh;
  object-fit: cover;
  height: 8vh;
  border-radius: 50%;
}

#notifIcon {
  width: 7.5vh;
}

#dropdownPFP {
  width: 13vw;
  height: 13vw;
  border-radius: 50%;
  object-fit: cover;
}

.divColour {
  background-color: rgb(184, 184, 196);
  border-radius: 30px;
  height: auto;
  text-align: center;
  padding-bottom: 15px;
  margin-top: 5vh;
}

#loginWelcome,
#signupWelcome {
  margin-top: 2.5vh;
}

.welcomeText {
  font-size: 5vh;
}

#motto {
  font-size: 2vh;
}

#summary {
  font-size: 2vh;
}

#loginSignupButton {
  background-color: rgb(124, 124, 158);
  height: 4vh;
  margin-top: 5vh;
  font-size: 1.8vh;
}

.footer .containment {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 11vh;
  background-color: rgb(19, 43, 95);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 17px;
  padding-top: 5px;
}

.footer figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footIcon {
  height: 7.5vh;
}

.figcap {
  margin-top: 0;
  padding: 0;
  line-height: 5px;
  color: white;
  font-size: 1.5em;
  text-align: center;
  align-items: center;
}

.formTitle {
  font-size: 4vh;
  padding-bottom: 2vh;
}

#loginView,
#signupView {
  margin-top: 2.5vh;
}

#loginEmail,
#loginPassword,
#signupUsername,
#signupEmail,
#signupPassword,
#signupConfirmPassword {
  height: 4vh;
  width: 40vw;
  font-size: 1.5vh;
  border-radius: 1vh;
}

.buttonPos {
  padding-top: 3vh;
  margin-bottom: 1.5vh;
}

#loginButton,
#signupButton {
  background-color: rgb(82, 107, 163);
  color: white;
  height: 4vh;
  width: 17vw;
  font-size: 1.6vh;
  border-radius: 10px;
}

#forgotPassword {
  font-size: 1.7vh;
}

#toSignup,
#toLogin {
  font-size: 2vh;
}

#signupSet,
#signupAge {
  margin-top: 5%;
  height: 3.5vh;
  width: 19.2vw;
  font-size: 1.5vh;
  border-radius: 1vh;
}

.text-danger {
  color: red;
}

.form-control.input-error {
  border: 2px solid red;
}

/*profile page css*/

body {
  font-family: Arial, sans-serif;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20vh;
}

.sidebar {
  width: 250px;
  border-right: 1px solid #ddd;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-nav {
  width: 105%;
  display: flex;
  max-height: 100px;
  background-color: white;
}

.profile-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-btn {
  background-color: transparent;
  border: none;
  color: #007bff;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 40px;
  margin-left: 5vw;
}

.profile-pic {
  position: relative;
  width: 15vh;
  height: 15vh;
  background-color: grey;
  border-radius: 50%;
  margin-bottom: 5vh;
}

.camera-icon img {
  margin-top: 60%;
  margin-left: 70%;
  width: 35%;
  height: 35%;
  object-fit: contain;
  opacity: 0.9;
  border: #222 solid 3px;
  border-radius: 50%;
}

.nav-button {
  background-color: transparent;
  border: 1px solid black;
  padding: 12px 30px 12px 30px;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 6px;
  width: 25vw;
  font-size: 30pt;
}

.nav-button:hover {
  background-color: #e6e6e6;
}

.profile-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  width: 90vw;
}

.profile-content h1 {
  font-size: 4.8rem;
  margin-bottom: 15px;
  color: #222;
}

.account-form {
  max-width: 730px;
  width: 90vw;
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-size: 2.5rem;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input {
  padding: 8px;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 2rem;
  outline: none;
}

input:focus,
select:focus {
  border-color: #007bff;
}

.form-buttons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10%;
}

.form-buttons select {
  width: 20vw;
  height: 4vh;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 6px;
  padding: 4px 8px;
  border: 1px solid black;
}

.form-buttons select > option {
  font-size: 0.7rem;
}

.age-input {
  width: 20vw;
  height: 4vh;
  padding: 8px;
  font-size: 1.4rem;
  border: 1px solid black;
  border-radius: 6px;
}

.edit-btn,
.save-btn {
  padding: 15px 25px;
  font-size: 1.4rem;
  width: 20vw;
  height: 4vh;
  display: flex;
  align-items: center;
}

.edit-btn {
  background-color: white;
}

.save-btn {
  display: none;
  background-color: #007bff;
  color: white;
  border: none;
}

.input-error {
  border: 2px solid red;
}

.age-error {
  font-size: 1.4rem;
  margin-top: 5px;
  height: 1.4rem;
}

.input-locked {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

.input-unlocked {
  background-color: white;
}

/* Seperate from others this is still profile page css */

/* Assignment css */
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

#assignmentTitle {
  font-size: 5em;
  margin-top: 50px;
  margin-left: 70px;
  margin-bottom: 60px;
}

#buttonPos {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 13vh;
  right: 30px;
  align-items: center;
  pointer-events: auto;
  z-index: 2;
}

#addButton {
  position: relative;
  width: 20vw;
  height: 20vw;
  max-width: 150px;
  max-height: 150px;
  min-width: 80px;
  min-height: 80px;
  border-radius: 50%;
  font-size: 100pt;
  line-height: 1;
  border: 5px solid black;
  color: rgb(226, 221, 221);
  background-color: rgb(26, 55, 119);
  transition: background-color 0.1s ease, transform 0.1s ease;
  z-index: 3;
}

#addButton:hover {
  background-color: rgb(16, 34, 77);
  transform: scale(1.1);
}

/* Create Assignment Form */

#assignmentForm,
#editForm {
  display: none;
  position: fixed;
  height: auto;
  flex-direction: column;
  font-size: 2.2vh;
  padding: 5%;
  top: 45%;
  left: 50%;
  width: 60vw;
  border-radius: 1.5vh;
  transform: translate(-50%, -50%);
  overflow-wrap: break-word;
  background-color: white;
  z-index: 5;
}

.posBtns {
  flex-direction: row;
  text-align: right;
}

.editBtn {
  background-color: rgb(174, 173, 185);
  border: none;
}

#className,
#assignmentName,
#dueDate,
#classEdit,
#assignmentEdit,
#dateEdit {
  font-size: 0.9em;
  border: none;
  background-color: rgb(218, 218, 218);
  margin-bottom: 1.5vh;
}

#createBtn,
#cancelBtn,
#saveBtn,
#deleteBtn,
#editCancelBtn {
  border: none;
  font-size: 0.9em;
  font-weight: bold;
  color: #4957a5;
  background-color: white;
}

/* Assignment fields */
#pageWrapper {
  height: 78vh;
  max-height: 80vh;
  overflow-y: auto;
}

#assignmentLayout {
  color: #4957a5;
}

.assignmentItem {
  display: flex;
}

.assignmentBox {
  width: 75vw;
  float: right;
  position: relative;
  margin-bottom: 50px;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 3em;
  background-color: rgb(174, 173, 185);
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border: #333 solid 3px;
  border-radius: 15px;
  height: 25vw;
}

.menu {
  display: flex;
  float: right;
  border-radius: 100%;
  border: none;
  background-color: rgb(174, 173, 185);
  margin: 0px;
  padding: 0px;
}

.dueDate {
  color: rgb(165, 50, 50);
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit {
  width: 70px;
  height: 70px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 6vw;
  font-size: 0.9em;
}

.checkBox {
  display: flex;
  margin-bottom: 200px;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-bottom: 50px;
}

.circle {
  width: 70px;
  height: 70px;
  border: 2px solid #555;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.checkboxContainer input {
  display: none;
}

.checkboxContainer input:checked + .circle {
  background-color: rgb(19, 43, 95);
  border-color: rgb(19, 43, 95);
}

.checkboxContainer input:checked + .circle::after {
  content: "✔";
  position: absolute;
  top: -5%;
  left: 15%;
  font-size: 3.3em;
  color: white;
}

/* Change background color for completed assignments box itself*/
.assignment-done .assignmentBox {
  background-color: rgb(109, 109, 127);
}

/* Change background color for completed assignments edit button*/
.assignmentItem.assignment-done .editBtn {
  background-color: rgb(109, 109, 127);
}

/* Change text color for completed assignments everything else*/
.assignmentItem.assignment-done .top,
.assignmentItem.assignment-done .bottom,
.assignmentItem.assignment-done .dueDate {
  color: #2c2c2c;
}

/* if assignments don't exist now*/

#noneBox {
  display: flex;
  justify-content: center;
  overflow-wrap: break-word;
  text-align: center;
  margin-top: 25vh;
}

#noneText {
  width: 80vw;
  font-size: 5em;
  color: gray;
}

/* Schedule Tab */

/* Schedule Table Base */
#scheduleGrid {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

#scheduleGrid th,
#scheduleGrid td {
  border: 5px solid #0a2a3d;
  height: 5vh;
  background: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 0;
}

#schedule {
  width: 100%;
  background-color: yellow;
  text-align: center;
  padding: 15px 0;
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}
