html {
  min-height: 100%;
  margin: 0;
}

nav {
  background-color: rgb(19, 43, 95);
  align-content: center;
  height: 11vh;
}

/* Map stuff lols */
.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  touch-action: none;
  overflow: hidden;
  min-height: calc(100vh - 11vh);
  margin: 0;
  padding: 0;
}

.map-Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: yellow;
  width: 100%;
  height: 20%;
  padding: 2%;
  font-size: large;
}

.drop-Down {
  position: relative;
  display: inline-block;
}

.button-SW,
.button-SE,
.button-NW,
.button-NE {
  background-color: yellow;
  border: none;
  cursor: pointer;
  z-index: 9;
  font-size: 2em;
}

.content-SW,
.content-SE,
.content-NW,
.content-NE {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100px;
  background-color: white;
  border: 1px solid black;
  z-index: 10;
}

.content-SW li,
.content-SE li,
.content-NW li,
.content-NE li {
  font-size: 2em;
  list-style: none;
  padding: 8px 12px;
  cursor: pointer;
  z-index: 10;
}

.Map {
  width: 100vw;
  height: 73vh;
  position: relative;
  z-index: 0;
}

.map-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: transparent;
  cursor: pointer;
}

.map-overlay.hidden {
  pointer-events: none;
}

.BCITMAP {
  width: 100%;
  height: 100%;
  border: 0;
  z-index: 0;
  pointer-events: auto;
}

/* Login/Signup, landing page, dropdown menus */

.dropdown-menu {
  background-color: rgb(198, 204, 211);
}

#notifDrop {
  width: 50vw;
  height: auto;
  font-size: 3em;
}

#mainDrop {
  width: 50vw;
  height: auto;
  font-size: 3em;
}

#logoIcon {
  width: 17vh;
}

#pfpIcon {
  width: 8vh;
}

#notifIcon {
  width: 7.5vh;
}

#dropdownPFP {
  width: 15vw;
}

.divColour {
  background-color: rgb(184, 184, 196);
  border-radius: 30px;
  height: auto;
  text-align: center;
  padding-bottom: 15px;
  margin-top: 5vh;
}

#loginWelcome,
#signupWelcome {
  margin-top: 2.5vh;
}

.welcomeText {
  font-size: 5vh;
}

#motto {
  font-size: 2vh;
}

#loginSignupButton {
  background-color: rgb(124, 124, 158);
  height: 4vh;
  margin-top: 5vh;
  font-size: 1.8vh;
}

.footer .containment {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 11vh;
  background-color: rgb(19, 43, 95);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 17px;
  padding-top: 5px;
}

.footer figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footIcon {
  height: 7.5vh;
}

.figcap {
  margin-top: 0;
  padding: 0;
  line-height: 5px;
  color: white;
  font-size: 1.5em;
  text-align: center;
  align-items: center;
}

.formTitle {
  font-size: 4vh;
  padding-bottom: 2vh;
}

#loginView,
#signupView {
  margin-top: 2.5vh;
}

#loginEmail,
#loginPassword,
#signupUsername,
#signupEmail,
#signupPassword,
#signupConfirmPassword {
  height: 4vh;
  width: 40vw;
  font-size: 1.5vh;
  border-radius: 1vh;
}

.buttonPos {
  padding-top: 3vh;
  margin-bottom: 1.5vh;
}

#loginButton,
#signupButton {
  background-color: rgb(82, 107, 163);
  color: white;
  height: 4vh;
  width: 17vw;
  font-size: 1.6vh;
  border-radius: 10px;
}

#forgotPassword {
  font-size: 1.7vh;
}

#toSignup,
#toLogin {
  font-size: 2vh;
}

/*SW1 STYLE STUFF DON'T TOUCH PLS*/

.map-title {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 1%;
  background-color: yellow;
}

.floor-plan {
  width: 100%;
  height: auto;
  margin-bottom: 2vh;
}

.floor-selector {
  position: fixed;
  bottom: 11vh;
  left: 0;
  height: 8%;
  width: 100%;
  background-color: yellow;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  z-index: 10;
}

.floor-btn {
  background-color: white;
  border: none;
  height: 50%;
  width: 15%;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.floor-btn.active {
  background-color: rgb(82, 107, 163);
  color: white;
}

/*profile page css*/

body {
  font-family: Arial, sans-serif;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15vh;
}

.sidebar {
  width: 250px;
  border-right: 1px solid #ddd;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-nav {
  width: 105%;
  display: flex;
  max-height: 100px;
  background-color: white;
}

.profile-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-btn {
  background-color: transparent;
  border: none;
  color: #007bff;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 40px;
  margin-left: 5vw;
}

.profile-pic {
  position: relative;
  width: 20vh;
  height: 20vh;
  background-color: grey;
  border-radius: 50%;
  margin-bottom: 5vh;
}

.camera-icon img {
  margin-top: 60%;
  margin-left: 70%;
  width: 35%;
  height: 35%;
  object-fit: contain;
  opacity: 0.9;
  border: #222 solid 3px;
  border-radius: 50%;
}

.nav-button {
  background-color: transparent;
  border: 1px solid black;
  padding: 12px 30px 12px 30px;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 6px;
  width: 25vw;
  font-size: 30pt;
}

.nav-button:hover {
  background-color: #e6e6e6;
}

.profile-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px;
  margin-top: 3vh;
  width: 90vw;
}

.profile-content h1 {
  font-size: 4.8rem;
  margin-bottom: 25px;
  color: #222;
}

.account-form {
  max-width: 730px;
  width: 90vw;
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-size: 2.5rem;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 2rem;
  outline: none;
}

input:focus,
select:focus {
  border-color: #007bff;
}

.form-buttons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 5%;
}

.form-buttons select {
  width: 150px;
  height: 60px;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 6px;
  padding: 4px 8px;
}

.form-buttons select > option {
  font-size: 0.7rem;
}

.edit-btn,
.save-btn {
  padding: 15px 25px;
  font-size: 1.4rem;
  height: 60px;
  display: flex;
  align-items: center;
}

.edit-btn {
  background-color: white;
}

.save-btn {
  display: none;
  background-color: #007bff;
  color: white;
  border: none;
}
/* Seperate from others this is still profile page css */

/* Assignment css */
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

#assignmentTitle {
  font-size: 5em;
  margin-top: 50px;
  margin-left: 70px;
  margin-bottom: 60px;
}

#buttonPos {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 13vh;
  right: 30px;
  align-items: center;
  pointer-events: auto;
  z-index: 2;
}

#addButton {
  position: relative;
  width: 20vw;
  height: 20vw;
  max-width: 150px;
  max-height: 150px;
  min-width: 80px;
  min-height: 80px;
  border-radius: 50%;
  font-size: 100pt;
  line-height: 1;
  border: 5px solid black;
  color: rgb(226, 221, 221);
  background-color: rgb(26, 55, 119);
  transition: background-color 0.1s ease, transform 0.1s ease;
  z-index: 3;
}

#addButton:hover {
  background-color: rgb(16, 34, 77);
  transform: scale(1.1);
}

/* Create Assignment Form */

#assignmentForm,
#editForm {
  display: none;
  position: fixed;
  height: auto;
  flex-direction: column;
  font-size: 2.2vh;
  padding: 5%;
  top: 45%;
  left: 50%;
  width: 60vw;
  border-radius: 1.5vh;
  transform: translate(-50%, -50%);
  overflow-wrap: break-word;
  background-color: white;
  z-index: 5;
}

.posBtns {
  flex-direction: row;
  text-align: right;
}

#className,
#assignmentName,
#dueDate,
#classEdit,
#assignmentEdit,
#dateEdit {
  font-size: 0.9em;
  border: none;
  background-color: rgb(218, 218, 218);
  margin-bottom: 1.5vh;
}

#createBtn,
#cancelBtn,
#saveBtn,
#cancelEditBtn {
  border: none;
  font-size: 0.9em;
  font-weight: bold;
  color: #4957a5;
  background-color: white;
}

/* Assignment fields */
#pageWrapper {
  height: 78vh;
  max-height: 80vh;
  overflow-y: auto;
}

.assignmentItem {
  position: relative;
  margin-bottom: 50px;
  margin-left: 70px;
  margin-right: 70px;
  font-size: 3em;
  background-color: rgb(174, 173, 185);
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border: #333 solid 3px;
  border-radius: 15px;
  height: 25vw;
}

.menu {
  display: flex;
  float: right;
  border-radius: 100%;
  border: none;
  background-color: rgb(174, 173, 185);
  margin: 0px;
  padding: 0px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dots {
  width: 80px;
  height: 80px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 6vw;
  font-size: 0.9em;
}

.detailsDropdown {
  display: none;
  top: 90px; /* right below the .top button */
  right: 27px; /* align to the right edge of the button */
  z-index: 20;
  width: auto;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  border: 3px solid black;
  padding: 0;
}

.detailsDropdown button {
  display: block;
  font-size: 3em;
  background-color: white;
  padding: 0 20px 0 20px;
  margin: none;
  border: none;
  text-align: left;
  text-align: center;
}

.detailsDropdown button:hover {
  background-color: #cecfdd;
}
